<template id="contact-component">
  <div class="contact-section" id="contact-section-id">
    <div class="contact-title">KONTAKT OSS</div>
    <div class="contact-content">
      <div class="contact-links">
        <div class="contact-link">
          <div class="contact-link-name">instagram</div>
          <img class="contact-link-icon" src="src/assets/Vector (5).svg" />
        </div>
        <div class="contact-link">
          <div class="contact-link-name">facebook</div>
          <img class="contact-link-icon" src="src/assets/Vector (5).svg" />
        </div>
        <div class="contact-link">
          <div class="contact-link-name">linkedIn</div>
          <img class="contact-link-icon" src="src/assets/Vector (5).svg" />
        </div>
        <a href="mailto:ua.kunstforening@gmail.com" class="contact-email no-select">
          <span class="line">ua.kunstforening</span>
          <span class="dog">@</span>
          <span class="line">gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</template>

<template id="about-component">
  <div class="about-section">
    <div class="about-container">
      <div class="about-content">
        <div class="about-description">
          Foreningen arrangerer utstillinger, kunst- og kulturaktiviteter med formål
          <br />
          å synliggjøre ukrainske kunstnere i Norge samt tilrettelegger for prosjekter.
        </div>
        <div class="about-details">
          <div class="about-details-content">
            <div class="kontonummer">KONTONUMMER!!!</div>
            <div class="about-details-text">
              Her legger vi til alle rekvisitene våre samt kontaktinfo
            </div>
          </div>
        </div>
      </div>
      <div class="about-logo">
        <img class="about-logo-image" src="src/assets/UKF_short_blue 1.svg" />
      </div>
    </div>
  </div>
</template>
