<template id="header-component">
  <header>
    <a href="index.html">
      <img class="UKF-logo" src="src/assets/UKF_long 1.svg" alt="">
    </a>

    <div class="nav-bar">
      <div class="nav-items">
        <a href="om-oss.html" class="nav-item about-us">om oss</a>
        <a href="" class="nav-item planned-activities">hva skjer</a>
        <a href="bestill kurs.html" class="nav-item workshops">bestill kurs</a>
        <a href="" class="nav-item projects">prosjekter CV</a>
        <a href="#contact-section-id" class="nav-item contacts">kontakter</a>
      </div>
    </div>
  </header>
</template>

<template id="contact-component">
  <div class="contact-section" id="contact-section-id">
    <div class="contact-title">KONTAKT OSS</div>
    <div class="contact-content">
      <div class="contact-links">
        <div class="contact-link">
          <div class="contact-link-name">instagram</div>
          <img class="contact-link-icon" src="src/assets/Vector (5).svg" />
        </div>
        <div class="contact-link">
          <div class="contact-link-name">facebook</div>
          <img class="contact-link-icon" src="src/assets/Vector (5).svg" />
        </div>
        <div class="contact-link">
          <div class="contact-link-name">linkedIn</div>
          <img class="contact-link-icon" src="src/assets/Vector (5).svg" />
        </div>
        <a href="mailto:ua.kunstforening@gmail.com" class="contact-email no-select">
          <span class="line">ua.kunstforening</span>
          <span class="dog">@</span>
          <span class="line">gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</template>

<template id="about-component">
  <div class="about-section">
    <div class="about-container">
      <div class="about-content">
        <div class="about-description">
          Foreningen arrangerer utstillinger, kunst- og kulturaktiviteter med formål
          <br />
          å synliggjøre ukrainske kunstnere i Norge samt tilrettelegger for prosjekter.
        </div>
        <div class="about-details">
            <div class="about-details-content">DEN UKRAINSKE KUNSTFORENING</div>
            <div class="kontonummer">Org. n. 935 633 001</div>
            <a href="mailto:ua.kunstforening@gmail.com" class="contact-email no-select">
                <span class="line">ua.kunstforening</span>
                <span class="dog">@</span>
                <span class="line">gmail.com</span>
            </a>
        </div>
      </div>
      <div class="about-logo">
        <img class="about-logo-image" src="src/assets/UKF_short_blue 1.svg" />
      </div>
    </div>
  </div>
</template>
