/* Общие настройки */

:root {
  --red-color: #f1262c;
  --blue-color: #103279;
  --yellow-color: #f3b910;
}

header,
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Funnel Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", sans-serif;
}

/* Основной контейнер */
header {
  height: 483px;
  position: relative;
  overflow: hidden;
}

.UKF-logo {
  width: 148.68px;
  aspect-ratio: 236 / 302.69;
  height: auto;
  margin-top: 120px;
  margin-left: 110px;
  background-image: url("src/assets/UKF_long 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 0.3s ease;
}

/* Навигационная панель */
.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 102.08px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 449.8px;
  top: 104.17px;
}

/* Секция с пунктами меню */
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1085.42px;
  position: relative;
}

/* Пункты меню */
.nav-item {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.33px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.nav-item { font-size: 26.66px; }        /* 33.33 × 0.8 */

.nav-item.active {
  font-weight: 600;
  color: #103279;
  /* text-decoration: underline; */
}

@media (max-width: 1500px) {

  header {
    transform: scale(0.7);
    transform-origin: top left;
    width: calc(100% / 0.7);
  }

  #header {
    height: 338.1px;
  }

  #header-component {
    height: 338.1px;
  }
}
