@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Общие настройки */
header,
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.pricing-section-wrapper {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 1872px;
  position: relative;
  overflow: hidden;
}
.workshop-intro-section {
  background: #f2b80c;
  width: 100%;
  height: 1636px;
  position: absolute;
  left: 0px;
  top: 218px;
  overflow: hidden;
}
.workshop-intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1703px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.workshop-intro-top {
  display: flex;
  flex-direction: row;
  gap: 79px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.workshop-intro-main {
  flex-shrink: 0;
  width: 685.96px;
  height: 916px;
  position: relative;
}
.workshop-intro-decor-icon {
  width: 685.96px;
  height: 916px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.workshop-intro-title {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 50.10060501098633px;
  line-height: 118.71%;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 382px;
  width: 423px;
}
.workshop-intro-description {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 938px;
  height: 426px;
  position: relative;
}
.workshop-intro-paragraph-1 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.workshop-intro-paragraph-2 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.workshop-intro-paragraph-3 {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.workshop-included-section {
  margin-top: -154px;
  align-self: stretch;
  flex-shrink: 0;
  height: 537px;
  position: relative;
}

.workshop-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 67px;
  align-items: flex-start;
  width: 1015px;
  position: absolute;
  left: 378px;
  top: 0;
}

.workshop-features {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: stretch;
}

.workshop-section-title {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 37.44px;
  text-align: left;
  align-self: stretch;
  margin: 0;
}

.workshop-feature-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-self: stretch;
}

.workshop-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
}

.workshop-feature-icon {
  flex-shrink: 0;
  width: 25px;
  height: 16.71px;
  overflow: visible;
}

.workshop-feature-title {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  font-size: 37.2px;
  margin: 0;
}

.workshop-prices-note {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 37.44px;
  align-self: stretch;
  margin: 0;
}

.pricing-header {
  display: flex;
  flex-direction: row;
  gap: 31px;
  position: absolute;
  left: 245px;
  top: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 100;
}
.pricing-header-image {
  flex-shrink: 0;
  width: 97px;
  height: 252px;
  position: relative;
}
.rombe-1 {
  width: 97.22px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 145.22px;
  transform: translate(0px, -97.22px);
  overflow: visible;
}
.rombe-28 {
  width: 47.86px;
  height: 32px;
  position: absolute;
  left: 33px;
  top: 47.86px;
  transform: translate(0px, -47.86px);
  overflow: visible;
}
.rombe-3 {
  width: 47.86px;
  height: 32px;
  position: absolute;
  left: 65px;
  top: 144.86px;
  transform: translate(0px, -47.86px);
  overflow: visible;
}
.rombe-4 {
  width: 47.86px;
  height: 32px;
  position: absolute;
  left: 42px;
  top: 212.86px;
  transform: translate(0px, -47.86px);
  overflow: visible;
}
.pricing-header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pricing-title {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 94.37132263183594px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.pricing-subtitle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-subtitle-main {
  color: #f2b80c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 75.72537994384766px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.pricing-subtitle-detail {
  margin: -15px 0 0 0;
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 75.72537994384766px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.pricing-group-small, .pricing-group-medium, .pricing-group-large {
  margin: -90px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-group-small {
  height: 831px;
}
.pricing-group-medium {
  height: 801px;
}
.pricing-group-large {
  height: 1081px;
}
.pricing-group-wrapper {
  background: #ffffff;
  width: auto;
  height: 756px;
  position: absolute;
  left: 0px;
  top: 75px;
  overflow: hidden;
}
.pricing-table {
  display: flex;
  flex-direction: row;
  gap: 164px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 378px;
  margin-top: 159px;
}
.pricing-duration {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 239px;
  position: relative;
}
.pricing-duration-title {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 37.439476013183594px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.pricing-duration-options {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.duration-hours {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 74.98497009277344px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.pricing-price {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.price-title {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 37.439476013183594px;
  font-weight: 600;
  position: relative;
}
.pricing-price-values {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.price {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 74.98497009277344px;
  font-weight: 600;
  position: relative;
}
.pricing-group-description {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1264px;
  position: absolute;
  left: 378px;
  top: 0px;
}
.group-size-title {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 75.72537994384766px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  margin-top: -2px;
}
.group-additional-info {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 37.439476013183594px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.pricing-group-wrapper-second {
  background: #f2b80c;
  width: 100%;
  height: 839px;
  position: absolute;
  left: 0px;
  top: 75px;
  overflow: hidden;
}

.pricing-group-description-second {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 378px;
  top: 0px;
}
.group-size-title-second {
  color: #f2b80c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 75.72537994384766px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-top: -1px;
}
.group-additional-info-second {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 37.439476013183594px;
  font-weight: 700;
  position: relative;
}
.group-size-title-third {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 75.72537994384766px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 378px;
  top: 0px;
  margin-top: 1px;
}
.pricing-group-wrapper {
  background: #ffffff;
  width: 100%;
  height: 1005px;
  position: absolute;
  left: 0px;
  top: 76px;
  overflow: hidden;
}
.pricing-group-large-content {
  width: 1303px;
  height: 703px;
  position: absolute;
  left: 367px;
  top: 60px;
}
.pricing-group-large-description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 938px;
  height: 375px;
  position: absolute;
  left: 11px;
  top: 0px;
}
.large-group-paragraph-1 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.large-group-example-courses {
  color: #0b2d74;
  text-align: right;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 600;
  position: relative;
  width: 553px;
}
.large-group-paragraph-2 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.large-group-paragraph-3 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.large-group-contact {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 428px;
}
.large-group-contact-image {
  flex-shrink: 0;
  width: 298px;
  height: 275px;
  position: relative;
}
.large-group-contact-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 905px;
  position: relative;
}
.contact-main-text {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 50.10060501098633px;
  line-height: 118.71%;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.contact-additional-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact-paragraph-1 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.contact-paragraph-2 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
