@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Общие настройки */
header,
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.course-offer-section {
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  margin-top: 120px;
  width: 1200px;
  margin-bottom: 200px;
  cursor: default;
}

.course-intro {
  flex-shrink: 0;
  width: 740px;
  height: 923px;
  position: relative;
}

.course-intro-icon {
  width: 740px;
  height: 837.5px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.course-intro-text {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 35.59140396118164px;
  line-height: 147.56%;
  font-weight: 500;
  position: absolute;
  left: 76.5px;
  top: 240px;
  width: 548.22px;
}

.course-details {
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 760px;
  position: relative;
}

.course-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.course-duration-and-level,
.course-social-experience,
.course-contact-invitation {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.0521354675293px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.course-contact {
  flex-shrink: 0;
  width: 330.75px;
  height: 164.54px;
  position: relative;

  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    transform: translateX(-10px); /* move slightly to the left */
  }
}

.course-contact-icon {
  width: 330.75px;
  height: 164.54px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.course-contact-button {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  height: 38.25px;
  position: absolute;
  left: 43.5px;
  top: 62.75px;
}

.contact-text {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 34.5px;
  font-weight: 700;
  position: relative;
  width: auto;
  height: auto;
  padding-bottom: 3.75px;
}

.contact-arrow-icon {
  flex-shrink: 0;
  width: 26.25px;
  height: 30.38px;
  position: relative;
  overflow: visible;
}


.scroll-animate {
  opacity: 1;
  transform: translateX(-500px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}
