@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Общие настройки */
header,
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --blue-color: #103279;
  --red-color: #f1262c;
  --yellow-color: #f2b80c;
}

.course-offer-section {
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  margin-top: 120px;
  width: 1200px;
  margin-bottom: 200px;
  cursor: default;
}

.course-intro {
  flex-shrink: 0;
  width: 740px;
  height: 923px;
  position: relative;
}

.course-intro-icon {
  width: 740px;
  height: 837.5px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.course-intro-text {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 35.59140396118164px;
  line-height: 147.56%;
  font-weight: 500;
  position: absolute;
  left: 76.5px;
  top: 240px;
  width: 548.22px;
}

.course-details {
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 760px;
  position: relative;
}

.course-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.course-duration-and-level,
.course-social-experience,
.course-contact-invitation {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.0521354675293px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.course-contact {
  flex-shrink: 0;
  width: 330.75px;
  height: 164.54px;
  position: relative;

  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    transform: translateX(-10px); /* move slightly to the left */
  }
}

.course-contact-icon {
  width: 330.75px;
  height: 164.54px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.course-contact-button {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  height: 38.25px;
  position: absolute;
  left: 43.5px;
  top: 62.75px;
}

.contact-text {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 34.5px;
  font-weight: 700;
  position: relative;
  width: auto;
  height: auto;
  padding-bottom: 3.75px;
}

.contact-arrow-icon {
  flex-shrink: 0;
  width: 26.25px;
  height: 30.38px;
  position: relative;
  overflow: visible;
}


.scroll-animate {
  opacity: 1;
  transform: translateX(-500px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}




















.frame-108 {
  display: flex;
  flex-direction: column;
  gap: 93px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1367px;
  margin: auto;
  margin-bottom: 200px;
}
.kurs {
  color: var(--red-color);
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 94.37132263183594px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
.frame-107 {
  display: flex;
  flex-direction: column;
  gap: 79px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.course-card {
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-2 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 702px;
  height: 703px;
  position: relative;
}
.frame-54 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  height: 547px;
  position: relative;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.course-summary-description.red {
  color: var(--red-color);
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.course-toggle {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 217px;
  position: relative;
  cursor: pointer;
}
.utvide {
  text-align: right;
  font-family: "Funnel Sans", sans-serif;
  font-size: 30.480146408081055px;
  font-weight: 700;
  position: relative;
}
.utvide.red {
  color: var(--red-color);
  transition: transform 0.3s ease;
}
.utvide.blue {
  color: var(--blue-color);
  transition: transform 0.3s ease;
}
.utvide.yellow {
  color: var(--yellow-color);
}
.course-card .utvide::before {
    content: "utvide";
}
/* когда карточка открыта */
.course-card.is-open .utvide::before {
    content: "kollapse";
}
.rombe {
  flex-shrink: 0;
  width: 41px;
  height: 32.09px;
  position: relative;
  overflow: visible;
}
.course-card-accent {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.course-card-accent.red {
  gap: 135px;
}
.course-body {
  display: flex; /* заменяем inline-flex на flex */
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap; /* запрещаем перенос элементов */
}
.frame-101 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  width: 335px;
}
.course-includes {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
}
.course-includes-title {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.763999938964844px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.course-includes-description {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.349998474121094px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.course-includes-title.red, .course-includes-description.red {
  color: var(--red-color);
}
.course-includes-title.blue, .course-includes-description.blue {
  color: var(--blue-color);
}
.course-includes-title.yellow, .course-includes-description.yellow {
  color: var(--yellow-color);
}

.price-href {
  flex-shrink: 0;
  width: 214px;
  height: 127.76px;
  position: relative;

  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    transform: translateX(10px); /* move slightly to the left */
  }
}
.romber-knapp-2-2-1 {
  width: 214px;
  height: 127.76px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  height: 32.1px;
  position: absolute;
  left: 43px;
  top: 45.83px;
}
.pris {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 31.537944793701172px;
  font-weight: 700;
  position: relative;
}
.pile-full-bla-1 {
  flex-shrink: 0;
  width: 35px;
  height: 40.51px;
  position: relative;
  overflow: visible;
}
.course-duration {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  width: 263px; /* или фиксированная ширина, если нужно */
}
.course-duration-label {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.763999938964844px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.course-duration-value {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.349998474121094px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.course-duration-label.red, .course-duration-value.red {
  color: var(--red-color);
}
.course-duration-label.blue, .course-duration-value.blue {
  color: var(--blue-color);
}
.course-duration-label.yellow, .course-duration-value.yellow {
  color: var(--yellow-color);
}

.frame-542 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 600px;
  gap: 50px;
  height: auto;
  position: relative;
}
.course-body-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
}
.course-summary-description.blue {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.course-body.blue ,.course-body.red ,.course-body.yellow {
  display: flex;
  flex-direction: column;
  gap: 62px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  position: relative;
  justify-content: space-between;
}
.course-body.yellow {
  gap: 152px;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.skills-title {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.763999938964844px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.skills-title.blue {
  color: var(--blue-color);
}
.skills-title.red {
  color: var(--red-color);
}
.skills-title.yellow {
  color: var(--yellow-color);
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.skill-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 37px;
  position: relative;
}
.skill-item.red {
  height: 87px;
}
.skill-item.yellow {
  height: 77px;
}
.rombe-item-blue, .rombe-item-red, .rombe-item-yellow {
  flex-shrink: 0;
  width: 25px;
  height: 16.71px;
  position: relative;
  overflow: visible;
}
.skill-item-text-blue, .skill-item-text-red, .skill-item-text-yellow {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.349998474121094px;
  font-weight: 400;
  position: relative;
  width: 541px;
  height: 47px;
  cursor: default;
}
.skill-item-text-blue {
  color: var(--blue-color);
}
.skill-item-text-red {
  color: var(--red-color);
}
.skill-item-text-yellow {
  color: var(--yellow-color);
}
.age-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 387px;
  height: 84px;
  position: relative;
}
.age-group-label {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.763999938964844px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.age-group-description {
  color: var(--blue-color);
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.349998474121094px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  cursor: default;
}
.age-group-label.blue, .age-group-description.blue {
  color: var(--blue-color);
}
.age-group-label.red, .age-group-description.red {
  color: var(--red-color);
}
.age-group-label.yellow, .age-group-description.yellow {
  color: var(--yellow-color);
}
.course-toggle-open {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-top: 220px;
  width: 215px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.kollapse {
  color: var(--blue-color);
  text-align: right;
  font-family: "Funnel Sans", sans-serif;
  font-size: 30.480146408081055px;
  font-weight: 500;
  position: relative;
}
.frame-543 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  position: relative;
}
.course-title {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 50.146385192871094px;
  line-height: 63.11%;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.course-title.red {
  color: var(--red-color);
}
.course-title.blue {
  color: var(--blue-color);
}
.course-title.yellow {
  color: var(--yellow-color);
}
.course-summary-description.yellow {
  color: var(--yellow-color);
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.3488655090332px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.rombe {
  transition: transform 0.3s ease; /* чтобы красиво вращалось */
}

.course-card.is-open .rombe {
    transform: rotate(90deg);
}














/* --- Изначально скрытые блоки --- */
.course-body,
.course-body2 {
  max-height: 0;                /* скрыто */
  overflow: hidden;             /* скрываем лишнее */
  transition: max-height 0.5s ease, padding 0.5s ease; /* плавное раскрытие */
  padding: 0 0;                 /* паддинг при закрытом состоянии */
}

/* --- Открытые блоки --- */
.course-card.is-open .course-body,
.course-card.is-open .course-body2 {
  max-height: 1000px;           /* достаточно для всего контента */
  padding: 20px 0;              /* паддинг при открытии */
}

/* --- Ромбы: плавный поворот --- */
.course-card .rombe-1,
.course-card .rombe-12,
.course-card .rombe-13 {
  transition: transform 0.3s ease;
}

/* --- Ромбы при открытой карточке --- */
.course-card.is-open .rombe-1,
.course-card.is-open .rombe-12,
.course-card.is-open .rombe-13 {
  transform: rotate(90deg);
}













.filters {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-end;
  position: relative;
}

.filters-reset {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-size: 29px;
  font-weight: 400;
  align-self: stretch;
  text-align: right;
  cursor: pointer;
  background: none;
  border: none;
}

.filters-container {
  display: flex;
  gap: 179px;
  align-items: flex-end;
}

.filters-main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 469px;
  justify-content: space-between;
}

.filters-sub-main {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 163px;
}

.filters-sub {
  display: flex;
  gap: 42px;
  width: 623px;
  justify-content: space-between;
}

.filters-sub-column {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 310px;
}

/* Скрываем стандартный чекбокс */
.filter-item input[type="checkbox"] {
  display: none;
}


/* Квадрат для чекбокса */
.filter-label.blue::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 29px;
  border: var(--blue-color) 4px solid;
  flex-shrink: 0;
  margin-right: 10px;
}

/* Состояние checked для синих фильтров */
.filter-item input[type="checkbox"]:checked + .filter-label.blue::before {
  background: var(--blue-color);
}

/* Цвет текста */
.filter-label.blue {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  font-size: 41px;
  color: var(--blue-color);
}


.filter-label.red {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 41px;
  color: var(--red-color)
}




/* Общий стиль для всех фильтров */
.filter-item {
  display: flex;
  flex-direction: row;   /* иконка слева, текст справа */
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

/* Скрываем стандартный чекбокс */
.filter-item input[type="checkbox"] {
  display: none;
}

/* Для красных фильтров используем изображение */
.filter-label.red::before {
  content: '';
  display: inline-block;

  width: 39px;
  height: 29px;

  background: url("../assets/rombe-red.svg") center / 100% 100% no-repeat;

  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.filter-item input[type="checkbox"]:checked + .filter-label.red::before {
  transform: rotate(90deg);
}


.filter-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-item.all, .filter-item.wood{
  align-self: flex-start;
}
