.project-slider {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  user-select: none;
}

.slide-double {
  overflow: hidden;
}