@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --red-color: #f1262c;
  --blue-color: #103279;
  --yellow-color: #f3b910;
}  
 
/* Общие настройки */
header,f
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  cursor: default;
}


.about-section-forening {
  display: flex;
  flex-direction: column;
  gap: 125.1px;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  width: 1558.125px;
  margin-bottom: 150px;
}
.about-content-forening {
  display: flex;
  flex-direction: column;
  gap: 109.8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-intro {
  display: flex;
  flex-direction: column;
  gap: 28.8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-intro-text-container {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1467px;
  position: relative;
}
.about-intro-text-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 37.73356018066406px;
  line-height: 110.115%;
  font-weight: 600;
  position: relative;
  width: 780.3px;
}
.about-description-forening {
  display: flex;
  flex-direction: row;
  gap: 79.2px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-header {
  flex-shrink: 0;
  width: 774.9px;
  height: 389.7px;
  position: relative;
}
.about-header-icon {
  width: 775.35px;
  height: 567.45px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.om-oss {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 83.91150054931641px;
  font-weight: 600;
  position: absolute;
  left: 342px;
  top: 123.75px;
}
.about-description-text-forening {
  display: flex;
  flex-direction: column;
  gap: 26.1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 703.8px;
  position: relative;
}
.about-mission,
.about-activities-part,
.about-impact {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 29.883197021484376px;
  line-height: 110.115%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.about-activities-part--highlight {
  font-family: "Funnel Sans", sans-serif;
  font-style: italic;
}
.about-timeline {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1451.7px;
  position: relative;
}
.timeline-events {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.timeline-item-forening {
  display: flex;
  flex-direction: row;
  gap: 25.2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.timeline-icon {
  flex-shrink: 0;
  width: 45px;
  height: 35.217px;
  position: relative;
  overflow: visible;
}
.event-content-forening {
  display: flex;
  flex-direction: row;
  gap: 21.6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.event-date-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 27.786131858825686px;
  line-height: 110.115%;
  font-weight: 600;
  position: relative;
}
.event-title-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 29.883197021484376px;
  line-height: 110.115%;
  font-weight: 400;
  position: relative;
}

.membership-section-forening {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1217.7px;
  position: relative;
}
.membership-intro {
  display: flex;
  flex-direction: column;
  gap: 62.1px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 444.6px;
  position: relative;
}
.membership-title-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 68.99336471557618px;
  line-height: 64.799%;
  letter-spacing: -0.009em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.membership-fee-info-forening {
  color: #f12727;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 37.62462043762207px;
  line-height: 93.42%;
  letter-spacing: 0undefined;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.membership-fee-info-forening-text-highlight {
  letter-spacing: -0.234em;
}
.membership-details-forening {
  display: flex;
  flex-direction: column;
  gap: 18.9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 693px;
  position: relative;
}
.membership-value-text-forening,
.membership-application {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 29.9526237487793px;
  line-height: 118.917%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.membership-application {
  width: 693px;
  line-height: 117.333%;
}
.membership-application-text {
  color: #103279;
}
.membership-application-email {
  color: #f3b910;
  text-decoration: underline;
}
.membership-application-note {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 29.950213623046875px;
  line-height: 131.301%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}












.board-section,
.board-section * {
  box-sizing: border-box;
}
.board-section {
  display: flex;
  flex-direction: column;
  gap: 48.2px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin: auto;
  max-width: 1210px;
  margin-bottom: 221.1px;
}

.board-title {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 61.6px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}

.board-members {
  display: flex;
  flex-direction: row;
  gap: 121.4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.board-member-card {
  display: flex;
  flex-direction: column;
  gap: 21.7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.board-member-image {
  flex-shrink: 0;
  width: 308.7px;
  height: 308.7px;
  position: relative;
}

.board-member-content {
  display: flex;
  flex-direction: column;
  gap: 18.5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.board-member-header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.board-member-name {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 27.2px;
  font-weight: 600;
  position: relative;
}

.board-member-name--red {
  color: #f12727;
}

.board-member-name--blue {
  color: #103279;
}

.board-member-role {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 26.6px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}

.board-member-role--red {
  color: #f12727;
}

.board-member-role--blue {
  color: #103279;
}

.board-member-description {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 20.1px;
  line-height: 115.92%;
  font-weight: 400;
  position: relative;
}

.board-member-description--red {
  color: #f22828;
}

.board-member-description--blue {
  color: #103279;
}

.board-member-description--wide {
  width: 340.1px;
}

.board-member-description--narrow {
  width: 319.2px;
}





.scroll-animate {
  opacity: 1;
  transform: translateX(-500px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}
















.frame-15,
.frame-15 * {
  box-sizing: border-box;
}
.frame-15 {
  height: 639px;
  position: relative;
}
.frame-3 {
  background: #cfcfcf;
  width: 100%;
  height: 565px;
  position: absolute;
  left: 0px;
  top: 74px;
  overflow: hidden;
}
.frame-2 {
  width: 1569px;
  height: 337px;
  position: absolute;
  margin-left: 201px;
  margin-top: 81px;
  overflow: hidden;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 68px;
  row-gap: 57px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 1546px;
  position: absolute;
  left: 0px;
  top: 29px;
}
#logo-PARTNERE {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#logo-PARTNERE:hover {
  opacity: 0.7;
}


.logo-1 {
  flex-shrink: 0;
  width: 240px;
  height: 91px;
  position: relative;
  cursor: pointer;
}
.logo-1-img {
  height: auto;
  position: absolute;
  left: 0px;
  margin-top: 4px;
  overflow: visible;
  cursor: pointer;
}
.logo-2 {
  flex-shrink: 0;
  width: 239px;
  height: 91px;
  position: relative;
}
.logo-2-img {
  height: auto;
  position: relative;
  overflow: visible;
  margin: auto;
  cursor: pointer;
}
.logo-3 {
  flex-shrink: 0;
  width: 424.22px;
  height: 90.91px;
  position: relative;
}
.logo-3-img {
  height: auto;
  overflow: visible;
  cursor: pointer;
}

.logo-4 {
  flex-shrink: 0;
  width: 187px;
  height: 91px;
  position: relative;
}
.logo-4-img {
  height: auto;
  position: absolute;
  left: -0.13px;
  top: 7px;
  overflow: visible;
  cursor: pointer;
}
.logo-5 {
  flex-shrink: 0;
  width: 234px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.logo-5-img {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
}
.logo-6 {
  flex-shrink: 0;
  width: 326px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.logo-6-img {
  overflow: visible;
  cursor: pointer;
}
.logo-7 {
  flex-shrink: 0;
  width: 325px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.logo-7-img {
  object-fit: cover;
  aspect-ratio: 446/167.68;
  margin-top: 20px;
  cursor: pointer;
}
.logo-8 {
  flex-shrink: 0;
  width: 152px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.logo-8-img {
  object-fit: cover;
  cursor: pointer;
}
.logo-9 {
  flex-shrink: 0;
  width: 237px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.logo-9-img {
  object-fit: cover;
  cursor: pointer;
}
.samarbeidspartner-title {
  color: #cfcfcf;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 75.50609588623047px;
  font-weight: 600;
  position: absolute;
  left: 375px;
  top: -13px;
}



@media (max-width: 1800px) {
  .frame-15, .board-section, .about-section-forening, .membership-section-forening {
    zoom: 0.9375;
  }
}

@media (max-width: 1600px) {
  .frame-15, .board-section, .about-section-forening, .membership-section-forening {
    zoom: 0.8333;
  }
}

@media (max-width: 1500px) {
  .frame-15, .board-section, .about-section-forening, .membership-section-forening {
    zoom: 0.78125;
  }
}

@media (max-width: 1400px) {
  .frame-15, .board-section, .about-section-forening, .membership-section-forening {
    zoom: 0.729;
  }
}

@media (max-width: 1280px) {
  .frame-15, .board-section, .about-section-forening, .membership-section-forening {
    zoom: 0.6667;
  }

  .samarbeidspartner-title {
    top: -10px;
  }
}

@media (max-width: 1100px) {
  .frame-15,
  .board-section,
  .about-section-forening,
  .membership-section-forening {
    zoom: 0.5729;
  }
}

@media (max-width: 1000px) {
  .frame-15,
  .board-section,
  .about-section-forening,
  .membership-section-forening {
    zoom: 0.5208;
  }
}
