@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --red-color: #f1262c;
  --blue-color: #103279;
  --yellow-color: #f3b910;
}

/* Общие настройки */
header,
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  cursor: default;
}


.about-section-forening {
  display: flex;
  flex-direction: column;
  gap: 139px;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  width: 1731.25px;
  margin-bottom: 275px;
}
.about-content-forening {
  display: flex;
  flex-direction: column;
  gap: 122px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-intro-text-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1630px;
  position: relative;
}
.about-intro-text-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 41.926177978515625px;
  line-height: 122.35%;
  font-weight: 600;
  position: relative;
  width: 867px;
}
.about-description-forening {
  display: flex;
  flex-direction: row;
  gap: 88px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about-header {
  flex-shrink: 0;
  width: 861px;
  height: 433px;
  position: relative;
}
.about-header-icon {
  width: 861.5px;
  height: 630.5px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.om-oss {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 93.23500061035156px;
  font-weight: 600;
  position: absolute;
  left: 380px;
  top: 137.5px;
}
.about-description-text-forening {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 782px;
  position: relative;
}
.about-mission {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.20355224609375px;
  line-height: 122.35%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.about-activities-part {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.20355224609375px;
  line-height: 122.35%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.about-activities-part--highlight {
  font-family: "Funnel Sans", sans-serif;
  font-style: italic;
}
.about-impact {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.20355224609375px;
  line-height: 122.35%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.about-timeline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 1613px;
  position: relative;
}
.timeline-events {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.timeline-item-forening {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.timeline-icon {
  flex-shrink: 0;
  width: 50px;
  height: 39.13px;
  position: relative;
  overflow: visible;
}
.event-content-forening {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.event-date-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 30.87347984313965px;
  line-height: 122.35%;
  font-weight: 600;
  position: relative;
}
.event-title-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.20355224609375px;
  line-height: 122.35%;
  font-weight: 400;
  position: relative;

}




.membership-section-forening {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1353px;
  position: relative;
}
.membership-intro {
  display: flex;
  flex-direction: column;
  gap: 69px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 494px;
  position: relative;
}
.membership-title-forening {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 76.65929412841797px;
  line-height: 63.11%;
  letter-spacing: -0.01em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.membership-fee-info-forening {
  color: #f12727;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 41.80513381958008px;
  line-height: 103.8%;
  letter-spacing: 0undefined;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}

.membership-fee-info-forening-text-highlight {
  letter-spacing: -0.26em;
}
.membership-details-forening {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 770px;
  position: relative;
}
.membership-value-text-forening {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.28069305419922px;
  line-height: 132.13%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.membership-application {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.28069305419922px;
  line-height: 130.37%;
  font-weight: 400;
  position: relative;
  width: 770px;
}
.membership-application-text {
  color: #103279;
}
.membership-application-email {
  color: #f3b910;
  text-decoration: underline;
}
.membership-application-note {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.27801513671875px;
  line-height: 145.89%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}








.frame-133,
.frame-133 * {
  box-sizing: border-box;
}
.frame-133 {
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin: auto;
  max-width: 1506px;
  margin-bottom: 275px;
}
.stypet {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 76.65929412841797px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.frame-132 {
  display: flex;
  flex-direction: row;
  gap: 151px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-129 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-4 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 384px;
  height: 384px;
  position: relative;
}
.frame-128 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-127 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.julia-favoritova {
  color: #f12727;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.78771209716797px;
  font-weight: 600;
  position: relative;
}
.styreleder {
  color: #f12727;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.14208984375px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}
.kunstner-entrepren-r-og-kulturprosjektleder-som-kom-til-norge-fra-ukraina-i-2022-hun-er-prosjektleder-for-sitt-eget-initiativ-favoritt-art-workshop-hvor-hun-leder-kurs-i-trearbeid-og-glassgravering-for-deltakere-fra-6-til-99-r-prosjektet-forener-og-inspirerer-mennesker-gjennom-kreativ-og-teknisk-utvikling {
  color: #f22828;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 24.975147247314453px;
  line-height: 115.92%;
  font-weight: 400;
  position: relative;
  width: 423px;
}
.katya-bukhantsova {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.78771209716797px;
  font-weight: 600;
  position: relative;
}
.nestleder {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.14208984375px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}
.kunsth-ndverker-og-designer-fra-ukraina-med-spesialisering-i-mixed-media-teknikker-innen-tekstilkunst-inkludert-kunsthekling-gjenbruk-redesign-og-broderi-hun-formidler-ukrainske-h-ndverkstradisjoner-i-norge-og-underviser-i-kreative-fag-i-tillegg-har-hun-solid-erfaring-i-prosjektelese-og-er-daglig-leder-og-p-driver-i-organisasjoen-relove-som-arrangerer-gratis-aktiviteter-for-barn-og-unge-i-oslo {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 24.975147247314453px;
  line-height: 115.92%;
  font-weight: 400;
  position: relative;
  width: 397px;
}
.anna-lubchenko {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.78771209716797px;
  font-weight: 600;
  position: relative;
}
.styremedlem {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.14208984375px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}
.kunstner-og-grafisk-designer-fra-ukraina-bosatt-i-norge-siden-2022-hun-er-utdannet-ved-kunstakademiet-i-kyiv-og-arbeider-med-akvarellmaling-tekstilkunst-og-redesign-anna-er-medlem-av-national-union-of-artists-of-ukraine-nuau-for-tiden-tar-hun-praktisk-pedagogisk-utdanning-i-kunst-og-h-ndverk-ved-h-gskolen-i-stfold {
  color: #103279;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 24.975147247314453px;
  line-height: 116.76%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 397px;
}
.board-section,
.board-section * {
  box-sizing: border-box;
}
.board-section {
  display: flex;
  flex-direction: column;
  /* gap: 90px; ORIGINALE GAP*/
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin: auto;
  max-width: 1506px;
  margin-bottom: 275px;
}
.board-title {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 76.65929412841797px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.board-members {
  display: flex;
  flex-direction: row;
  gap: 151px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.board-member-card {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.board-member-image {
  flex-shrink: 0;
  width: 384px;
  height: 384px;
  position: relative;
}
.board-member-content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.board-member-header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.board-member-name {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.78771209716797px;
  font-weight: 600;
  position: relative;
}
.board-member-name--red {
  color: #f12727;
}
.board-member-name--blue {
  color: #103279;
}
.board-member-role {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 33.14208984375px;
  font-weight: 400;
  font-style: italic;
  position: relative;
}
.board-member-role--red {
  color: #f12727;
}
.board-member-role--blue {
  color: #103279;
}
.board-member-description {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 24.975147247314453px;
  line-height: 115.92%;
  font-weight: 400;
  position: relative;
}
.board-member-description--red {
  color: #f22828;
}
.board-member-description--blue {
  color: #103279;
}
.board-member-description--wide {
  width: 423px;
}
.board-member-description--narrow {
  width: 397px;
}





.scroll-animate {
  opacity: 1;
  transform: translateX(-500px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}
















.frame-15,
.frame-15 * {
  box-sizing: border-box;
}
.frame-15 {
  height: 639px;
  position: relative;
}
.frame-3 {
  background: #cfcfcf;
  width: 1920px;
  height: 565px;
  position: absolute;
  left: 0px;
  top: 74px;
  overflow: hidden;
}
.frame-2 {
  width: 1569px;
  height: 337px;
  position: absolute;
  left: 201px;
  top: 111px;
  overflow: hidden;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 68px;
  row-gap: 57px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 1546px;
  position: absolute;
  left: 0px;
  top: 29px;
}
.frame-32 {
  flex-shrink: 0;
  width: 240.36px;
  height: 90.91px;
  position: relative;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 4px;
  overflow: visible;
}
.frame-4 {
  flex-shrink: 0;
  width: 239px;
  height: 91px;
  position: relative;
}
.clip-path-group2 {
  height: auto;
  position: absolute;
  left: 38.12px;
  top: 18px;
  overflow: visible;
}
.frame-5 {
  flex-shrink: 0;
  width: 424.22px;
  height: 90.91px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 210.01px);
  top: 0.96px;
}
.vector {
  flex-shrink: 0;
  width: 47.18px;
  height: 78.61px;
  position: relative;
  overflow: visible;
}
.group {
  flex-shrink: 0;
  width: 357.04px;
  height: 34px;
  position: static;
}
.uk {
  color: #ffffff;
  text-align: left;
  font-family: "FunnelSans-SemiBold", sans-serif;
  font-size: 27.39029312133789px;
  font-weight: 600;
  position: absolute;
  right: 76.15%;
  left: 15.84%;
  width: 8.01%;
  bottom: 28.37%;
  top: 28.37%;
  height: 43.25%;
}
.rainas-ambassade-i-nor {
  color: #ffffff;
  text-align: left;
  font-family: "FunnelSans-SemiBold", sans-serif;
  font-size: 27.39029312133789px;
  font-weight: 600;
  position: absolute;
  right: 6.96%;
  left: 23.74%;
  width: 69.3%;
  bottom: 28.37%;
  top: 28.37%;
  height: 43.25%;
}
.ge {
  color: #ffffff;
  text-align: left;
  font-family: "FunnelSans-SemiBold", sans-serif;
  font-size: 27.39029312133789px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 92.69%;
  width: 7.31%;
  bottom: 28.37%;
  top: 28.37%;
  height: 43.25%;
}
.frame-6 {
  flex-shrink: 0;
  width: 187px;
  height: 91px;
  position: relative;
}
.clip-path-group3 {
  height: auto;
  position: absolute;
  left: -0.13px;
  top: 7px;
  overflow: visible;
}
.frame-9 {
  flex-shrink: 0;
  width: 234px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.oslologo-hvit-skjerm-png {
  width: 138.06%;
  height: 137.46%;
  position: absolute;
  right: -18.72%;
  left: -19.34%;
  bottom: -19.96%;
  top: -17.49%;
  object-fit: cover;
}
.frame-10 {
  flex-shrink: 0;
  width: 326px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 94.65%;
  height: 53.36%;
  position: absolute;
  right: 2.51%;
  left: 2.84%;
  bottom: 14.98%;
  top: 31.67%;
  overflow: visible;
}
.frame-11 {
  flex-shrink: 0;
  width: 325px;
  height: 160px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.lorensk-biblio-2 {
  width: 446px;
  height: 167.68px;
  position: absolute;
  left: 385px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 446/167.68;
}
.frame-12 {
  flex-shrink: 0;
  width: 152px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.logo-all-verdensfolk-16-3-png {
  width: 99.86%;
  height: 92.08%;
  position: absolute;
  right: 0.07%;
  left: 0.07%;
  bottom: 0.23%;
  top: 7.68%;
  object-fit: cover;
}
.frame-13 {
  flex-shrink: 0;
  width: 237px;
  height: 160px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.image-1 {
  width: 98.92%;
  height: 30.05%;
  position: absolute;
  right: -97.63%;
  left: 98.71%;
  bottom: 31.68%;
  top: 38.27%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.samarbeidspartner-title {
  color: #cfcfcf;
  text-align: left;
  font-family: "FunnelSans-SemiBold", sans-serif;
  font-size: 75.50609588623047px;
  line-height: 122.35%;
  font-weight: 600;
  position: absolute;
  left: 375px;
  top: 0px;
}
