@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --red-color: #f1262c;
  --blue-color: #103279;
  --yellow-color: #f3b910;
}

/* Общие настройки */
header,
header * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  cursor: default;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.pricing-section-wrapper {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 1497.6px;
  position: relative;
  overflow: hidden;
}
.workshop-intro-section {
  background: #f2b80c;
  width: 100%;
  position: absolute;
  left: 0px;
  overflow: hidden;

  height: 1308.8px;
  top: 174.4px;
}
.workshop-intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;

  max-width: 1600px;
}
.workshop-intro-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  gap: 170px;
}
.workshop-intro-main {
  flex-shrink: 0;
  position: relative;

  width: 548.768px;
  height: 732.8px;
}
.workshop-intro-decor-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;

  width: 548.768px;
  height: 732.8px;
}
.workshop-intro-title {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  position: absolute;

  font-size: 40.08px;
  line-height: 94.97%;
  left: 68.8px;
  top: 305.6px;
  width: 338.4px;
}
.workshop-intro-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  gap: 20.8px;
  width: 750.4px;
  height: 340.8px;
}
.workshop-intro-paragraph-1, .workshop-intro-paragraph-2 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  position: relative;
  align-self: stretch;

  font-size: 26.6791px;
}
.workshop-intro-paragraph-3 {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  position: relative;
  align-self: stretch;

  font-size: 26.6791px;
}
.workshop-included-section {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  height: 429.6px;
  margin-top: -123.2px;
}

.workshop-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;

  gap: 53.6px;
  width: 912px;
  left: 402.4px;
}

.workshop-features {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  gap: 12px;
}

.workshop-section-title {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  text-align: left;
  align-self: stretch;
  margin: 0;

  font-size: 29.952px;
}

.workshop-feature-list {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  gap: 13.6px;
}

.workshop-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 34.4px;
}

.workshop-feature-icon {
  flex-shrink: 0;
  overflow: visible;

  width: 20px;
  height: 13.368px;
}

.workshop-feature-title {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  margin: 0;

  font-size: 29.76px;
}

.workshop-prices-note {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  align-self: stretch;
  margin: 0;

  font-size: 29.952px;
}

.pricing-header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 100;

  gap: 24.8px;
  left: 196px;
}
.pricing-header-image {
  flex-shrink: 0;
  position: relative;

  width: 77.6px;
  height: 201.6px;
}
.rombe-1 {
  position: absolute;
  left: 0px;
  overflow: visible;

  width: 77.776px;
  height: 52px;
  top: 116.176px;
  transform: translate(0px, -77.776px);
}
.rombe-28, .rombe-3, .rombe-4 {
  width: 47.86px;
  height: 32px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, -38.288px);
}
.rombe-28{
  left: 33px;
  top: 47.86px;
}
.rombe-3 {
  left: 65px;
  top: 144.86px;
}
.rombe-4 {
  left: 42px;
  top: 212.86px;
}
.pricing-header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  gap: 20px;
}
.pricing-title {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;

  font-size: 75.497px;
}
.pricing-subtitle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pricing-subtitle-main, .pricing-subtitle-detail {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;

  font-size: 60.5803px;
}
.pricing-subtitle-main {
  color: #f2b80c;
  margin: 2px 0 0 0;
}
.pricing-subtitle-detail {
  color: #ffffff;

  margin: -12px 0 0 0;
}
.pricing-group-small, .pricing-group-medium, .pricing-group-large {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  margin: -72px 0 0 0;
}
.pricing-group-small {
  height: 664.8px;
}
.pricing-group-medium {
  height: 640.8px;
}
.pricing-group-large {
  height: 864.8px;
}
.pricing-group-wrapper {
  background: #ffffff;
  width: auto;
  position: absolute;
  left: 0px;
  overflow: hidden;

  height: 604.8px;
  top: 60px;
}
.pricing-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 131.2px;
  margin-left: 402.4px;
  margin-top: 127.2px;
}
.pricing-duration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  gap: 20.8px;
  width: 191.2px;
}
.pricing-duration-title {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  position: relative;
  align-self: stretch;

  font-size: 29.9516px;
}
.pricing-duration-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  gap: 11.2px;
}
.duration-hours {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  position: relative;
  align-self: stretch;

  font-size: 59.988px;
}

.pricing-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  gap: 20.8px;
}
.price-title {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  position: relative;

  font-size: 29.9516px;
}
.pricing-price-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  gap: 11.2px;
}
.price {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  position: relative;

  font-size: 59.988px;
}
.pricing-group-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;

  gap: 5.6px;
  width: 1011.2px;
  left: 402.4px;
  top: 0px;
}
.group-size-title {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  margin-top: -2px;

  font-size: 60.5803px;
}
.group-additional-info {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  position: relative;
  align-self: stretch;

  font-size: 29.9516px;
}
.pricing-group-wrapper-second {
  background: #f2b80c;
  position: absolute;
  left: 0px;
  overflow: hidden;

  width: 100%;
  height: 671.2px;
  top: 60px;
}

.pricing-group-description-second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;

  gap: 5.6px;
  left: 402.4px;
  top: 0px;
}
.group-size-title-second {
  color: #f2b80c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-top: -0px;

  font-size: 60.5803px;
}
.group-additional-info-second {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  position: relative;

  font-size: 29.9516px;
}
.group-size-title-third {
  color: #ffffff;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;

  font-size: 60.5803px;
  left: 402.4px;
  top: 0px;
  margin-top: 0.8px;
}
.pricing-group-wrapper {
  background: #ffffff;
  width: 100%;
  position: absolute;
  overflow: hidden;

  height: 804px;
  left: 0px;
  top: 60.8px;
}
.pricing-group-large-content {
  position: absolute;

  width: 1042.4px;
  height: 562.4px;
  left: 393.6px;
  top: 48px;
}
.pricing-group-large-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;

  gap: 21.6px;
  width: 750.4px;
  height: 300px;
  left: 8.8px;
  top: 0px;
}
/* Общие стили для всех параграфов */
.large-group-paragraph-1,
.large-group-paragraph-2,
.large-group-paragraph-3 {
  color: #37528b;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 26.68px; /* можно округлить */
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}

/* Если нужно сохранить уникальность первого параграфа */
.large-group-paragraph-1 {
  /* flex: 1; уже включено, можно оставить или удалить */
}

/* Второй параграф отличается цветом и выравниванием текста */
.large-group-example-courses {
  color: #0b2d74;
  text-align: right;
  font-weight: 600;
  width: 553px;
  font-family: "Funnel Sans", sans-serif;
  font-size: 26.68px;
  position: relative;
}
.large-group-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;

  gap: 80px;
  top: 342.4px;
}
.large-group-contact-image {
  flex-shrink: 0;
  position: relative;

  width: 238.4px;
  height: 220px;
}
.large-group-contact-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  gap: 19.2px;
  width: 724px;
}
.contact-main-text {
  color: #0b2d74;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 50.10060501098633px;
  line-height: 118.71%;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  align-self: stretch;

  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    transform: translateX(-8px); /* move slightly to the left */
  }
}
.contact-additional-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  gap: 19.2px;
}
/* Загальні стилі для контактних параграфів */
.contact-paragraph-1,
.contact-paragraph-2 {
  color: #37528b; /* колір тексту */
  text-align: left; /* вирівнювання тексту по лівому краю */
  font-family: "Funnel Sans", sans-serif; /* шрифт */
  font-size: 26.68px; /* розмір шрифту */
  font-weight: 400; /* товщина шрифту */
  position: relative; /* відносне позиціонування */
  align-self: stretch; /* розтягування по контейнеру */
}


.scroll-animate {
  opacity: 1;
  transform: translateX(-500px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 1800px) {
  .pricing-section {
    zoom: 0.9375;
  }
}

@media (max-width: 1600px) {
  .pricing-section {
    zoom: 0.8333;
  }
}

@media (max-width: 1280px) {
  .pricing-section {
    zoom: 0.6666;
  }
}