@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --red-color: #f1262c;
  --blue-color: #103279;
  --yellow-color: #f3b910;
}

body {
  overflow-x: hidden;
}

.frame-156 {
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.frame-154 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
}
.frame-153 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 72.57px;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-151 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-149 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 713px;
  position: relative;
}
.september-2025-sentralen-oslo {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 48.72587203979492px;
  line-height: 38.88px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.glassgravering-verksted {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 49.9458122253418px;
  line-height: 39.85px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-150 {
  display: flex;
  flex-direction: row;
  gap: 42px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-5 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 344px;
  height: 344px;
  position: relative;
}
.rundt-70-deltakere-bes-kte-v-rt-glassgraveringsverksted-med-under-h-ndverksdagen-p-sentralen-oslo-glassgravering-er-en-spennende-teknikk-der-vi-brukte-elektroverkt-y-og-diamanttilbeh-r-for-lage-egne-m-nstre-alle-graverte-sitt-helt-unike-design-p-et-syltet-yglass-perfekt-som-lysholder {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 32.483917236328125px;
  line-height: 42px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 752px;
}
.rundt-70-deltakere-bes-kte-v-rt-glassgraveringsverksted-med-under-h-ndverksdagen-p-sentralen-oslo-glassgravering-er-en-spennende-teknikk-der-vi-brukte-elektroverkt-y-og-diamanttilbeh-r-for-lage-egne-m-nstre-alle-graverte-sitt-helt-unike-design-p-et-syltet-yglass-perfekt-som-lysholder-span {
  color: #f1262c;
  font-family: "Funnel Sans", sans-serif;
}
.rundt-70-deltakere-bes-kte-v-rt-glassgraveringsverksted-med-under-h-ndverksdagen-p-sentralen-oslo-glassgravering-er-en-spennende-teknikk-der-vi-brukte-elektroverkt-y-og-diamanttilbeh-r-for-lage-egne-m-nstre-alle-graverte-sitt-helt-unike-design-p-et-syltet-yglass-perfekt-som-lysholder-span2 {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-style: italic;
}
.frame-155 {
  height: 756px;
  position: relative;
  margin-bottom: 100px;
  background: white;
}

.frame-152 {
  width: 1140px;
  height: 756px;
  margin: auto;
  position: relative;
  overflow: visible;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  gap: 60px;
}

.slide {
  min-width: 1140px;
  height: 756px;
  position: relative;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Затемнение */
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  transition: 0.3s;
}

.slide.active::after {
  background: rgba(0,0,0,0);
}
.scroll-testimonials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1812px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  pointer-events: none; /* важно */
}

.polygon-arrow-left,
.polygon-arrow-right {
  flex-shrink: 0;
  width: 54.78px;
  height: 63px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  pointer-events: auto; /* чтобы клик работал */
}