@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --red-color: #f1262c;
  --blue-color: #103279;
  --yellow-color: #f3b910;
}

body {
  overflow-x: hidden;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1140px;
  position: relative;
}
.project-icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 72.57px;
  margin-left: -40px;
  height: auto;
  position: relative;
  overflow: visible;
}
.project-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.project-header {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 713px;
  position: relative;
}
.project-meta {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 48.72587203979492px;
  line-height: 38.88px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.project-title {
  color: #f1262c;
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 49.9458122253418px;
  line-height: 39.85px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
.project-description-block {
  display: flex;
  flex-direction: row;
  gap: 42px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.project-image-placeholder {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 344px;
  height: 344px;
  position: relative;
}
.project-descriptio {
  text-align: left;
  font-family: "Funnel Sans", sans-serif;
  font-size: 32.483917236328125px;
  line-height: 42px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 752px;
}
.text-highlight {
  color: #f1262c;
  font-family: "Funnel Sans", sans-serif;
}
.text-accent {
  color: #0b2d74;
  font-family: "Funnel Sans", sans-serif;
  font-style: italic;
}
.project-slider {
  height: 756px;
  position: relative;
  margin-bottom: 100px;
  background: white;
}

.slider-viewport {
  width: 1140px;
  height: 756px;
  margin: auto;
  position: relative;
  overflow: visible;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  gap: 60px;
}

.slide {
  min-width: 1140px;
  height: 756px;
  position: relative;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Затемнение */
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  transition: 0.3s;
}

.slide.active::after {
  background: rgba(0,0,0,0);
}
.scroll-testimonials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1812px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  pointer-events: none; /* важно */
}

.polygon-arrow-left,
.polygon-arrow-right {
  flex-shrink: 0;
  width: 54.78px;
  height: 63px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  pointer-events: auto; /* чтобы клик работал */
}